<main class="list">
  <h1>Suspeitos</h1>
  <div class="list__options">
    <app-option
      *ngFor="let suspect of suspects"
      [name]="suspect.name"
      [details]="suspect.color"
    ></app-option>
  </div>
  <hr />
  <h1>Armas</h1>
  <div class="list__options">
    <app-option *ngFor="let weapon of weapons" [name]="weapon"></app-option>
  </div>
  <hr />
  <h1>Locais</h1>
  <div class="list__options">
    <app-option
      *ngFor="let location of locations"
      [name]="location"
    ></app-option>
  </div>
  <div class="list__buttons">
    <button class="list__buttons-guess" (click)="makeGuess()">
      Fazer Palpite
    </button>
    <button class="list__buttons-exit" (click)="exit()">Sair</button>
  </div>
</main>
